//<nowiki>

<!-- main -->
<div class="review-panel initial">
	<div class="initial-header">
		<span>নিরীক্ষণ সহায়িকা&nbsp;
		(<!-- Disabled due to issue #71 <span class="feedback-wrapper"></span> | --><span class="preferences-wrapper"></span>)</span>
		"{{title}}" নিরীক্ষণ করা হচ্ছে
	</div>
	<div class="warnings hidden"></div>
	<div class="button-wrapper">
		{{#accept}}<a id="afchAccept" class="accept afch-button gradient-button">গ্রহণ করুন</a>{{/accept}}
		{{#decline}}<a id="afchDecline" class="decline afch-button gradient-button">বাতিল করুন</a>{{/decline}}
		{{#comment}}<a id="afchComment" class="comment afch-button gradient-button">মন্তব্য</a>{{/comment}}
		{{#submit}}<a id="afchSubmit" class="submit afch-button gradient-button">জমা</a>{{/submit}}
		<a id="afchG13" class="g13 afch-button gradient-button g13-related {{^g13}}hidden{{/g13}}">Request G13 deletion</a>
		<a id="afchPostponeG13" class="postpone-g13 afch-button gradient-button g13-related {{^g13}}hidden{{/g13}}">Postpone G13</a>
		<div id="afchExtra" class="extra afch-button">
			<div class="wrapper">
				<div class="open" title="View additional options">«</div>
				<div class="links">
					<a id="afchClean" class="link">খসড়া পরিষ্কার করুন</a>
					<a id="afchMark" class="link">
						নিরীক্ষমান {{#alreadyUnderReview}}হতে সরান{{/alreadyUnderReview}}{{^alreadyUnderReview}}হিসেবে চিহ্নিত করুন{{/alreadyUnderReview}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /main -->

<!-- warning-deletions-table -->
<div class="deletion-log">
	<table>
		{{#deletions}}
		<tr>
			<td class="timestamp"><span title="{{timestamp}}">{{relativeTimestamp}}</span>:</td>
			<td class="detail">
				<span class="reason">{{{reason}}}</span>
				<span class="actor">(<a href="{{deletorLink}}">{{deletor}}</a> অপসারণ করেছেন)</span>
			</td>
		</tr>
		{{/deletions}}
	</table>
</div>
<!-- /warning-deletions-table -->

<!-- quick-action-processing -->
<div class="review-panel {{actionClass}}">
	<div class="header">{{actionTitle}}...</div>
	<div id="afchContent" class="content centered">
		<div id="afchSubmitForm" data-running="Working..." class="gradient-button button-centered {{actionClass}}">কাজ চলছে...</div>
	</div>
</div>
<!-- /quick-action-processing -->

<!-- accept -->
<div class="review-panel accept">
	<div class="header">গ্রহণ করা হচ্ছে...</div>
	<div id="afchContent" class="content">

		<div id="newTitleWrapper">
			<label for="newTitle" class="afch-label">নতুন শিরোনাম</label>
			<input type="text" id="newTitle" class="afch-input afch-textfield" placeholder="Target page name"
				{{#newTitle}}value="{{newTitle}}"{{/newTitle}} />
			<span id="titleStatus"></span>
		</div>

		<div id="assessmentWrapper">
			<label for="newAssessment" class="afch-label">নিবন্ধ মূল্যায়ন</label>
			<select id="newAssessment" class="afch-input">
				<option value="" selected></option>
				<option value="B">দ্বিতীয় শ্রেণী</option>
				<option value="C">তৃতীয় শ্রেণী</option>
				<option value="start">প্রারম্ভিক</option>
				<option value="stub">অসম্পূর্ণ</option>
				<option value="list">তালিকা নিবন্ধ</option>
				<option value="disambig">দ্ব্যর্থতা নিরসন</option>
				<option value="template">টেমপ্লেট</option>
				<option value="redirect">পূনর্নির্দেশ</option>
				<option value="portal">প্রবেশদ্বার</option>
				<option value="project">উইকিপ্রকল্প</option>
				<option value="na">প্রযোজ্য নয়</option>
			</select>
		</div>

		<!-- <div id="shortDescriptionWrapper">
			<label for="shortDescription" class="afch-label">Short description</label>
			<input type="text" id="shortDescription" class="afch-input afch-textfield" placeholder="British astronomer" value="{{shortDescription}}">
		</div> -->

		<div id="stubSorterWrapper" class="hidden">
			<label class="afch-label" for="stub-sorter-select">অসম্পূর্ণ ট্যাগ যুক্ত করুন</label>
			<div id="stubSorterContainer"></div>
		</div>

		{{#hasWikiProjects}}
		<div id="wikiProjectWrapper">
			<label for="newWikiProjects" class="afch-label">উইকিপ্রকল্প যুক্ত করুন</label>
			<select id="newWikiProjects" class="afch-input" multiple>
				{{#wikiProjects}}
				<option value="{{templateName}}" {{#alreadyOnPage}} বাছাইকৃত {{/alreadyOnPage}}>{{displayName}}</option>
				{{/wikiProjects}}
			</select>
		</div>
		{{/hasWikiProjects}}

		<div id="categoryWrapper">
			<label for="newCategories" class="afch-label">বিষয়শ্রেণী যোগ করুন</label>
			<select id="newCategories" class="afch-input" multiple>
				{{#categories}}
				<option value="{{.}}" selected>{{.}}</option>
				{{/categories}}
			</select>
		</div>

		<div id="isBiographyWrapper">
			<label for="isBiography" class="afch-label">নিবন্ধটি কি জীবনী?</label>
			<input type="checkbox" id="isBiography" class="afch-input"/>
		</div>

		<div id="bioOptionsWrapper" class="hidden">

			<div id="subjectNameWrapper">
				<label for="subjectName" class="afch-label">ব্যক্তির নাম</label>
				<input type="text" id="subjectName" class="afch-input afch-textfield" placeholder="নকীব সরকার"/>
			</div>

			<div id="birthYearWrapper">
				<label for="birthYear" class="afch-label">জন্মসাল</label>
				<input type="text" id="birthYear" class="afch-input afch-textfield" placeholder="২০০১"/>
			</div>

			<div id="lifeStatusWrapper">
				<label for="lifeStatus" class="afch-label">ব্যক্তি কী জীবিত?</label>
				<select id="lifeStatus" class="afch-input">
					<option value="unknown" selected>অজানা</option>
					<option value="living">জীবিত</option>
					<option value="dead">মৃত</option>
				</select>
			</div>

			<div id="deathWrapper" class="hidden">

				<div id="deathYearWrapper">
					<label for="deathYear" class="afch-label">মৃত্যুর বছর</label>
					<input type="text" id="deathYear" class="afch-input afch-textfield" placeholder="1999"/>
				</div>

			</div>

		</div>

		{{#showPatrolOption}}
		<div id="patrolPageWrapper">
			<label for="patrolPage" class="afch-label">টহল দানকৃত হিসাবে চিহ্নিত করুন</label>
			<input type="checkbox" id="patrolPage" class="afch-input"/>
		</div>
		{{/showPatrolOption}}

		<div id="notifyWrapper">
			<label for="notifyUser" class="afch-label">জমাদানকারীকে বিজ্ঞপ্তি দিন</label>
			<input type="checkbox" id="notifyUser" class="afch-input" checked/>
		</div>

		<div id="afchSubmitForm" data-running="খসড়া গ্রহণ করা হচ্ছে..." class="gradient-button accept">গ্রহণ ও প্রকাশ করুন</div>

	</div>
</div>
<!-- /accept -->

<!-- decline -->
<div class="review-panel decline">
	<div class="header">প্রত্যাখ্যান করা হচ্ছে...</div>
	<div id="afchContent" class="content centered">

		<fieldset id="declineRejectWrapper" class="radioContainer afch-input" name="declineReject">
			<input type="radio" id="declineRejectDecline" name="declineReject" value="decline" checked />
			<label for="declineRejectDecline"><b>প্রত্যাখ্যান</b> (পরবর্তী উন্নতি ও জমাদানের জন্য)</label>
			&emsp;
			<input type="radio" id="declineRejectReject" name="declineReject" value="reject" />
			<label for="declineRejectReject"><b>প্রত্যাখ্যান</b> (অনুপযুক্ত বিষয়; পুনরায় জমা দেওয়া যাবে না)</label>
		</fieldset>

		<div id="declineReasonWrapper">
			<select id="declineReason" class="afch-input text-left" multiple="multiple">
				<option value=""></option>
				<optgroup label="উল্লেখযোগ্যতা">
					<option value="neo">neo - জনপ্রবণতা সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="web">web - ওয়েব সামগ্রী সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="prof">prof - একজন অধ্যাপক সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="athlete">athlete - একজন ক্রীড়ায়ত্ন সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="music">music - একজন সংগীতশিল্পী বা সংগীত কাজ সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="film">film - একটি চলচ্চিত্র সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="book">book - একটি বই সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="event">event - একটি ঘটনা সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="corp">corp - একটি কোম্পানি বা সংগঠন সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="bio">bio - একজন ব্যক্তি সম্পর্কিত জিনিস, যা এখনও উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি</option>
					<option value="nn">nn - একটি বিষয় সম্পর্কিত জিনিস, যা এখনও সাধারণ উল্লেখযোগ্যতার মানদণ্ড পূরণ করে নি (যদি সম্ভব হয়, তাহলে বিস্তারিতভাবে লিখুন)</option>
				</optgroup>
				<optgroup label="ত্রুটিপূর্ণ খসড়া">
					<option value="blank">খালি - খসড়াটি খালি</option>
					<option value="lang">ভাষা - খসড়াটি ইংরেজি নয়</option>
					<option value="test">পরীক্ষা - খসড়াটি পরীক্ষার সম্পাদনা মনে হচ্ছে</option>
					<option value="redirect">রিডাইরেক্ট - খসড়াটি রিডাইরেক্ট অনুরোধ</option>
				</optgroup>
				<optgroup label="BLP &amp; vandalism">
					<option value="van">van - Submission is vandalism, a negative unsourced BLP, or an attack page</option>
					<option value="ilc">ilc - Submission is a BLP that does not meet minimum inline citation requirements</option>
					<option value="blp">blp - BLP contains unsourced, possibly defamatory claims (AGF and wait for sources)</option>
				</optgroup>
				<optgroup label="Submission content">
					<option value="cv"></optgroup>cv - Submission is a copyright violation</option>
					<option value="v">v - Submission is improperly sourced</option>
					<option value="not">not - Submission fails [[Wikipedia:What Wikipedia is not]]</option>
					<option value="news">news - Submission appears to be a news story of a single event</option>
					<option value="dict">dict - Submission is a dictionary definition</option>
					<option value="plot">plot - Submission consists mostly of a plot summary</option>
					<option value="joke">joke - Submission appears to be a joke or hoax</option>
				</optgroup>
				<optgroup label="</optgroup>Prose issues">
					<option value="essay">essay - Submission reads like an essay</option>
					<option value="npov">npov - Submission is not written in a formal, neutral encyclopedic tone</option>
					<option value="adv">adv - Submission reads like an advertisement</option>
				</optgroup>
				<optgroup label="Duplicate articles">
					<option value="exists">exists - Submission is duplicated by another article already in mainspace</option>
					<option value="dup">dup - Submission is a duplicate of another existing submission</option>
				</optgroup>
				<optgroup label="Other">
					<option value="reason">custom - Enter decline reason in the box below</option>
					<option value="context">context - Submission provides insufficient context</option>
					<option value="mergeto">mergeto - Submission should be merged into an existing article</option>
				</optgroup>
			</select>

			<div id="previewWrapper">
				<a id="previewTrigger" class="link" role="button">(preview)</a>
				<div id="previewContainer"></div>
			</div>
		</div>

		<div id="rejectReasonWrapper" class="hidden">
			<select id="rejectReason" class="afch-input text-left" multiple="multiple">
				<option value=""></option>
				<option value="n">n - Topic is not notable</option>
				<option value="e">e - Topic is contrary to the purpose of Wikipedia</option>
			</select>
		</div>


		<div id="declineInputWrapper">
			<div id="textfieldWrapper" class="afch-option hidden">
				<label for="declineTextfield" class="afch-label"></label>
				<input id="declineTextfield" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="textfieldWrapper2" class="afch-option hidden">
				<label for="declineTextfield2" class="afch-label"></label>
				<input id="declineTextfield2" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="cvUrlWrapper" class="afch-option hidden">
				<label for="cvUrlTextarea" class="afch-label">Original URLs (one per line)</label>
				<textarea id="cvUrlTextarea" class="afch-input afch-textfield afch-textarea"
					placeholder="Enter original URLs here, one per line."
					cols="110" rows="3"></textarea>
			</div>

			<textarea id="declineTextarea" class="afch-input afch-textfield afch-textarea hidden"
				placeholder="Elaborate on your decline reason here using wikicode syntax."
				cols="100" rows="5"></textarea>

			<div id="declineInputPreview"></div>

			<div id="csdWrapper" class="afch-option hidden">
				<input type="checkbox" id="csdSubmission" class="afch-input"/>
				<label for="csdSubmission" class="afch-label">Nominate the submission for speedy deletion</label>
			</div>
		</div>

		<div id="rejectInputWrapper" class="hidden">
			<textarea id="rejectTextarea" class="afch-input afch-textfield afch-textarea hidden"
				placeholder="Elaborate on your reject reason here using wikicode syntax."
				cols="100" rows="5"></textarea>

			<div id="rejectInputPreview"></div>
		</div>

		<div id="notifyWrapper" class="hidden">
			<div class="afch-option">
				<input type="checkbox" id="notifyUser" class="afch-input" checked/>
				<label for="notifyUser" class="afch-label">Notify submitter</label>
			</div>
			<div class="afch-option">
				<input type="checkbox" id="inviteToTeahouse" class="afch-input" checked/>
				<label for="inviteToTeahouse" class="afch-label">Invite submitter to Teahouse <small>(if they haven't been invited yet)</small></label>
			</div>
		</div>

		<div id="afchSubmitForm" data-running="Declining submission..." class="gradient-button button-centered decline hidden">Decline submission</div>

	</div>
</div>
<!-- /decline -->

<!-- comment -->
<div class="review-panel comment">
	<div class="header">মন্তব্য করা হচ্ছে...</div>
	<div id="afchContent" class="content centered">

		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="উইকিকোড সিনট্যাক্স ব্যবহার করে আপনার মন্তব্য লিখুন। আপনার স্বাক্ষর স্বয়ংক্রিয়ভাবে যুক্ত হবে।"
			cols="100" rows="5"></textarea>

		<div id="commentPreview"></div>

	<div class="afch-option">
		<input type="checkbox" id="notifyUser" class="afch-input" {{#notifyByDefault}}checked{{/notifyByDefault}} />
		<label for="notifyUser" class="afch-label">জমাদানকারীকে জানান</label>
	</div>

		<div id="afchSubmitForm" data-running="খসড়াটিতে মন্তব্য করা হচ্ছে..." class="gradient-button button-centered comment">মন্তব্য পোস্ট করুন</div>

	</div>
</div>
<!-- /comment -->

<!-- submit -->
<div class="review-panel submit">
	<div class="header">Submitting...</div>
	<div id="afchContent" class="content centered">
		<label for="submitType" class="afch-label">Submit as</label>
		<select id="submitType" class="afch-input">
			{{#customSubmitters}}
			<option value="{{name}}" {{#selected}}selected{{/selected}}>{{description}}</option>
			{{/customSubmitters}}
			<option value="creator">Page creator</option>
			<option value="self">Yourself</option>
			<option value="other">Someone else</option>
		</select>

		<div id="submitterNameWrapper" class="hidden">
			<input type="text" id="submitterName" class="afch-input afch-textfield" placeholder="Username" />
			<div id="submitterNameStatus" class="error"></div>
		</div>

		<div id="afchSubmitForm" data-running="Submitting..." class="gradient-button button-centered submit">Submit</div>

	</div>
</div>
<!-- /submit -->

<!-- postpone-g13 -->
<div class="review-panel postpone-g13">
	<div class="header">Postponing...</div>
	<div id="afchContent" class="content centered">
		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="Enter your rationale for postponing deletion, which will be added to the submission as a new comment."
			cols="100" rows="5"></textarea>

		<div id="afchSubmitForm" data-running="Postponing..." class="gradient-button button-centered postpone-g13">
			Postpone deletion
		</div>

	</div>
</div>
<!-- /postpone-g13 -->

//</nowiki>
