//<nowiki>

<!-- preferences -->
<div class="afch afch-form afch-preferences">
	<div class="details centered">
		<strong>নিরীক্ষণ সহায়িকা</strong>
		<div>ব্যবহারকারী-এজেন্ট: {{userAgent}}</div>
	</div>
	<div id="autoOpenWrapper">
		<label for="autoOpen" class="afch-label">নিবন্ধ সৃষ্টির জমাদানের পাতায় পর্যালোচনা প্যানেলটি স্বয়ংক্রিয়ভাবে খুলুন</label>
		<input type="checkbox" id="autoOpen" class="afch-input" {{#autoOpen}}checked{{/autoOpen}} />
	</div>
	<div id="launchLinkPositionWrapper">
		<label for="launchLinkPosition" class="afch-label">"পর্যালোচনা" লিঙ্কের অবস্থান</label>
		<select id="launchLinkPosition" class="afch-input">
			<option value="p-cactions">"সম্পাদনা" এবং "ইতিহাস" লিঙ্কের পাশে ত্রিভুজ ড্রপডাউন</option>
			<option value="p-tb">পাতার বাম দিকে "সরঞ্জাম" বিভাগে</option>
		</select>
	</div>
	<div id="logCsdWrapper">
		<label for="logCsd" class="afch-label">দ্রুত অপসারণের মনোনয়ন লগ করুন</label>
		<input type="checkbox" id="logCsd" class="afch-input" {{#logCsd}}checked{{/logCsd}} />
	</div>
	<div id="logAfcWrapper">
		<label for="logAfc" class="afch-label">গ্রহণ, অস্বীকার এবং প্রত্যাখ্যান লগ করুন</label>
		<input type="checkbox" id="logAfc" class="afch-input" {{#logAfc}}checked{{/logAfc}} />
	</div>
</div>
<!-- /preferences -->

//</nowiki>
